.tourGuideContainer {
  height: 100vh;
  width: 100%;
  left: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.78);
  position: absolute;
  display: flex;
  .tourGuideBody {
    // width: 315px;
    width: calc(100% - 44px);
    // height: 417px;
    flex-shrink: 0;
    left: 50px;
    right: 50px;
    // background: var(--BG-colour-completion, #08071B);

    // border-radius: 7px;
    // border: 1px solid #FFF;
    background: #000;

    color: #fff;
    text-align: center;
    font-family: Schoolbell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    // padding: 20px 15px;
    // transition: all 2s;
  }
  .now-whats-btn,
  .lets-go-btn {
    margin: 20px 0 0 0;
    text-align: center;
    height: 26px;
    font-family: Schoolbell;
    button {
      position: relative;
      bottom: 10px;
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: black;
      border-color: #fff;
      border-bottom: solid;
      border-radius: 8px;
    }
    button:active {
      background: black;
      border-color: #fff;
      border-bottom: solid;
      border-radius: 8px;
    }
  }
  .lets-go {
    display: none;
    border: 1px solid #fff;
    padding: 20px 15px;
    border-radius: 7px;
    // visibility: hidden;
    // opacity: 0;
    // height: 0;
    // width: 0;
    // position: absolute;
    // z-index: -1;
  }
  .now-whats {
    border: 1px solid #fff;
    padding: 20px 15px;
    border-radius: 7px;
  }

  //   .fadeOut {
  //     opacity: 0;
  //     // width:0;
  //     // height:0;
  //     transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  //   }
  //   .fadeIn {
  //     opacity: 1;
  //     // width:100px;
  //     // height:100px;
  //     transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  //   }

  .fade-in-popup {
    animation: fadeIn 0.7s;
    // --fadeInTime: 0.7s;
    // animation: fadeIn var(--fadeInTime) "s";
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .fade-out-popup {
    animation: fadeOut 0.5s;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
