.score-page{
    max-width: 370px;
    width: 100%;
    margin: 0 auto;
	background-color: #08071B;
	height: 100vh;
	position: relative;
    p{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 22px;
        text-align: center;
    }
 }
 .success-image{
    // text-align: center;
    // padding-top: 80%;
 }

.completion-page{
    width: 100%;
    margin: 0 auto;
	background-color: #08071B;
	position: relative;
    width: 360px;
    height: 100vh;
    p{
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 22px;
        text-align: center;
    }
 }
 .success-image{
    // text-align: center;
    // padding-top: 70%;

    display: flex;
    justify-content: center;
    --heightt:100%;
    height: var(--heightt);
    // height: 100%;
    // align-items: center;
    img{
        width:180px;
        display:block;
        position: absolute;
        top: calc(50% - 90px);
        transition: 1.5s;
        &.move-up{
            top:125px;
            width:90px;
        }
    }
    // .successImage{
    //     width:180px;
    //     display:block;
    //     position: absolute;
    //     top: calc(50% - 90px);
    //     transition: 1s;
    //     &.move-up{
    //         top:125px;
    //         width:90px;
    //     }
    // }
 }
 .completeion-image {
    text-align: center;
    padding-top: 125px;
    padding-bottom: 81px;
}
.empty-three-star {
    text-align: center;
    margin-bottom: 22px;
    img{
        margin-left: 10px;
    }
}
 .three-star{
    text-align: center;
    margin-bottom: 22px;
 }
 .heart-section{
    // display: none;
    position: static;
    top: 0;
    .heart-img {
        position: absolute;
        padding-right: 16px;
        top: 34px;
        right: 0px;
    }
    .heart-img-txt {
        position: absolute;
        top: 36px;
        right: 27px;
    }

}
.score-section {
    display: flex;
    padding-left: 56px;
    .coins-section {
        margin-right: 17px;
        display: flex;
        background-color: #4F35A0;
        width: 120px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 4px solid #4F35A0;
        background: rgba(79, 53, 160, 0.01);
        box-shadow: 0px 20px 0px 0px #4f35a0 inset;
        .coin-txt {
            width: 112px;
            position: absolute;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .coin-count {
            padding: 36px 4px;
            display: flex;
            .coin-logo {
                padding-left: 10px;
                padding-right: 22px;
            }
            .coinTxt{
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }
    .speed-section{
        display: flex;
        background-color: #D47777;
        width: 120px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 4px solid #D47777;
        background: rgba(79, 53, 160, 0.01);
        box-shadow: 0px 20px 0px 0px #D47777 inset;
        .speed-txt{
            width: 112px;
            position: absolute;
            text-align: center;
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        .speed-count {
            padding: 36px 4px;
            display: flex;
            .speed-logo {
                padding-left: 10px;
                padding-right: 22px;
            }
            .speedTxt{
                text-align: center;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

    }
}
.continue-section{
    display: flex;
    padding: 60px 17px 7px 17px;
    .reload-sec{
        padding-right: 7px;
        cursor: pointer;
    }
    .continue-sec{
        box-shadow: 0 12px 0px 1px #886b13;
        background-color: #DDAC17;
        width: 80%;
        border-radius: 10px;
        height: 48px;
        color: #fff;
        cursor: pointer;
        .continue-txt {
            margin: 17px 85px;
            font-family: Montserrat;
            font-size: 15px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}