.comming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 187px;
  position: relative;

  position: relative;
  left: 96px;
  bottom: 11px;
}

.text-wrapper {
  font-family: Montserrat;
  position: absolute;
  left: 48px;
  font-size: 11px;
  font-weight: 700;
  bottom: 15px;
}
